body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(116.82deg, #2571F8 0%, #68E2F8 100%);
}
#root{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(116.82deg, #2571F8 0%, #68E2F8 100%);
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board{
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding: 2rem 0;
}
.card{
  background: radial-gradient(50% 50% at 50% 50%, #68E2F8 0%, #1E61B0 100%);
  align-self: center;
  justify-self: center;
  display: flex;
  min-width: 50px;
  border-radius: 10px;
  border: 5px solid #1D379C;
  overflow: hidden;
}
.pokemon-img{
  margin: auto;
}